@import url('https://fonts.googleapis.com/css?family=Lato:400,700&display=swap');
body{
  font-family: 'Lato', sans-serif;
  overflow-x: hidden;

}
#home .navbar{
  text-transform: uppercase;
  font-weight: 700;
  font-size: 85%;
  letter-spacing: 1.5px;
  height: 4rem;
  background-color: rgba(0, 0, 0, 0.2);

}

.navbar-nav li{
  padding-right: 4px;
}
.navbar-dark .navbar-nav .nav-item a{
  color: white;
  padding-top: 5px;
}
.navbar-dark .navbar-nav .nav-item a.active,
.navbar-dark .navbar-nav .nav-item a:hover{
  color: #2ab7c4
}

.navbar img{
 
  width: 75px;
  height: 75px;
}

.homepage {
  position: relative;
  width: 100%;
  height: 100vh;
  display: table;
  z-index: -1;
}
.home-wrapper {
  clip: rect(0, auto, auto, 0);
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
.home-in {
  position: fixed;
  display: table;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-size: cover;
  background-position: center center;
          transform: translateZ(0);
          transform: translateZ(0);
  will-change: transform;
}
.home-in{
  background-image: url("img/bg.jpg");
}
.caption{
  width: 100%;
  max-width: 100%;
  position: absolute;
  top: 38%;
  z-index: 1;
  color: white;
  text-transform: uppercase;
}
.caption h1,.caption h3{
  letter-spacing: 4px;
  color: white;
  padding: 6px;
  font-weight: 700;
  text-shadow: 1.6px 1.6px 3px black;
}
.caption h3{
  padding-bottom: 19px;
  font-size: 125%;
}
.fixed-background {
  position: relative;
  width: 100%;
}
.fixed-wrap {
  clip: rect(0, auto, auto, 0);
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -999!important;
}
.fixed {
  position: fixed;
  display: block;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-size: cover;
  background-position: center center;
  -webkit-transform: translateZ(0);
          transform: translateZ(0);
  will-change: transform;
}
.offset::before{
  display: block;
  content: "";
  height: 4rem;
  margin-top: -4rem;
}
.narrow{
  width: 80%;
  margin: 1.5rem auto;
  padding-top: 2rem;
}
.narrow h1{
  font-size: 2.4rem;
  margin-bottom: 1.5rem;
}
#of{
  width: 4.5rem;
  height: 4.55rem;
  display: block;
  margin: 0 auto;
  margin-top: 3rem;
  margin-bottom: 2rem;
}
#offers .btn-secondary{
  border-width: medium;
  border-radius: 0.5;
  text-transform: uppercase;
  font-size: 1rem;
  margin: 1rem;
  color: white;
  background-color: #2ab7c4;
  border-color:white;
}
#offers .btn-secondary:hover{

  background-color:#1abd99;
  border-color:white;
}
#offers p{
  width:32rem;
  margin-left: auto;
  margin-right: auto;
}
.features{
  margin: 0;
  padding: 1.5rem 0 3.5rem;
  border-radius: 0;


}
.feature h3{
  font-size: 1.6rem;
  letter-spacing: .5px;
  padding-bottom: .5rem;
}
.feature p{
  
}
h3.heading{
  font-size: 1.9rem;
  font-weight: 700;
  text-transform: uppercase;
  margin-bottom: 1.9rem;
}
.heading-underline{
  width: 3rem;
  height: .2rem;
  background-color: #2ab7c4;
  margin: 0 auto 4rem;


}
#icon{
  height: 3rem;
  width: 3rem;
  margin-top: 2rem;
  margin-bottom: 2rem;
}

.fixed{
  background-image: url("img/fixed1.jpg");
  z-index: -1;
}
.fixed-background h3{
  margin-bottom: 4rem;
}
.fixed-background p{

}
.dark
{
  background-color: rgba(0, 0, 0, 0.7);
  color: white;
  padding: 7rem 2rem;
}
.clients img{
  width: 100%;
  border-radius: 50%;

}
#resources p{
  margin-top:2rem;
}
#resources a{

  text-decoration: none;
  color:  #2ab7c4;
  transition: .5s ease;
}
#resources a:hover{

  width: 6rem;
  font-weight: 800;
  color: #2ab7c4;
  letter-spacing: .1rem;
  background-color: rgba(255, 255, 255, 0.2);
}
#resources .btn-secondary{
  width: 4rem;
  background-color: rgba(0, 0, 0, 0.2);
  color: white;
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 2rem;

}
#resources img{
  height: 5rem;
  width: 5rem;
}
.hr{
  border-top: .05rem solid #2ab7c4;
}
#clients .heading-underline{
  margin-bottom: 7rem;
}
#contact footer{
  background-color: #14282b;
  color: white;
  padding: 2rem 0 2rem;
  margin-top: 1rem;

}
#contact footer img{
  height: 9rem;
  margin:1.5rem 0;

}
#contact p{
  margin-bottom: 2rem;
}
#contact br{
  margin-bottom: 2rem;
}
hr.socket{
  width: 100%;
  border-top: .2rem solid  #000000;
  margin-top: 3rem;
}
@media (max-width: 767px) {
  .clients img{
    max-width: 50%;
    display:block;
    margin: 0 auto;
    margin-bottom: 2rem;
  }

}
