/* lista delle decision */
.div-menu ul{  
    list-style: none;
    margin: 0;
    padding-left: 12px;
    margin-top: 10px;
    
}
.div-menu .decision-menu .decision-toUpdate{
     position: relative;
     padding: 16px;
     width: fit-content;
     height: 90%;
     background-color: rgb(255, 255, 255);
     
     border-top: 1px solid white;
     text-transform: uppercase;
     font-weight: 500;
     letter-spacing: 1.5px;
     font-size: 75%;
     transition: .5s;
     margin-bottom: 8px;
     z-index: 2;
     
}
.div-menu .decision-menu .decision-toUpdate:hover{
    background-color: aqua;
    transition: linear .5s;
}
.text-inner::before{
    content: "";
    position: absolute;
    bottom: 12px;
    left: 12px;
    height: 12px;
    width: 12px;
    border: 3px solid aqua;
    border-width: 0 0 3px 3px;
    transition: .5s;
    opacity:0;

}
.decision-toUpdate:hover span::before{
    bottom: -8px;
    left: -8px;
    opacity: 1;
}
.text-inner::after{
    content: "";
    position: absolute;
    top: 12px;
    right: 12px;
    width: 12px;
    height: 12px;
    border: 3px solid aqua;
    border-width: 3px 3px 0 0;
    transition: .5s;
    opacity: 0;

}
.decision-toUpdate:hover span::after{
    top: -8px;
    right: -8px;
    opacity: 1;
}

.level-selector{
    position: relative;
     padding: 15px;
     width: 250px;
     background-color: aqua;
     border-top: 1px solid white;
     border-radius: 2%;
}
.showUpmenu{
    transition: all 0.3s ease-in-out;
    opacity: 0;
    visibility: hidden;
    position: absolute;
    left: 100%;
    top: 16%;
}
.decision-toUpdate:hover .showUpmenu{
    opacity: 1;
    visibility: visible;
}
.showUpmenu{
    padding-right: 3px;
   
}
.level-selector{

    display: inline;  
    background-color: white;
    border: 1px solid black;
    margin-right: 5px;

}
input[type="checkbox"]{
    -webkit-appearance: none;
    visibility: hidden;  
    display: none;
}
.check{
    position: relative;
    display: inline-flex;
    width: 40px;
    height: 20px;
    background: aqua;
    cursor: pointer;
    border-radius: 20px;
    overflow: hidden;
    transition: ease-in 0.5s;
    text-align: end;
    margin-right: 5px;
}
.check::before{
    content: '';
    position: absolute;
    top: 2px;
    left: 2px;
    background: #fff;   
    width: 16px;
    height: 16px;
    border-radius: 50%;
    transition: 0.5s;
}
input[type="checkbox"]:checked ~ .check{
    background: white;
    
}
input[type="checkbox"]:checked ~ .check::before{
    transform: translateX(-50px);

}
.check::after{
    content: '';
    position: absolute;
    top: 2px;
    left: 2px;
    background: aqua;   
    width: 16px;
    height: 16px;
    border-radius: 50%;
    transition: 0.5s;
    transform: translateX(50px);
}
input[type="checkbox"]:checked ~ .check::after{
    transform: translateX(0px);

}

.c{
    padding-top: 18px;
    padding-left: 13px;
    
    height: 50px;
    width: 230px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: white;
    transition: ease-in 1s;
}

.ca{
    
    height: 50px;
    width: 230px;
    padding-top: 18px;
    padding-left: 13px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: aqua;
    transition: 0.5s step-end;

}
.ca p{
    font-weight: 700;
    letter-spacing: 2px;
    align-self: center;
}
.switch-display{
    padding-top: 3px;
    text-transform: uppercase;
    font-weight: 500;
    letter-spacing: 1.5px;
    font-size: 75%;
    align-self: center;
    align-content: center;

}
#wrap{
    position: relative;
    width: 450px;
}

#rangeValue{
    position: relative;
    text-align: center;
    display: block;
    font-size: 6em;
    color: rgba(0, 0, 0,.8);
    font-weight: 620;
    z-index: 2;
    margin-bottom: 0px;
    margin-top: 0px;
    padding-top: 20%;

    
    
}
#rangeValue::after{
    content: '%';

}
#fillRangeValue{ 
    position: absolute;
    top: 0;
    left: 0;

    height: 300px;
    background: red;
    z-index: 1;
}
.range{
    position: relative;
    width: 400px;
    height: 15px;
    -webkit-appearance: none;
    outline: none;
    border-radius: 15px ;
    background: rgba(0, 0, 0, .8);
    box-shadow: 0 0 0 2px #000,inset 0 0 5px #000;
    z-index: 2;
    overflow: hidden;
    margin-top: 14%;
    margin-left: 9%;


}
.range::-webkit-slider-thumb{
    -webkit-appearance: none;
    width: 15px;
    height: 15px;
    border-radius: 50%;
    background: red;
    border: 4px solid #222;
    z-index: 2;
    box-shadow: -407px 0 0 400px red;
}
 







.reanimate-beds {
    margin-top: 5px;
}

.flex-container{
    margin-left: 10px;
    margin-top: 20px;
    display: flex;
    justify-content: baseline;
    margin-bottom: 110px;
}


.spec-show-container{
    width: 430px;
}

.spec-showup{
    background-color: aqua;
    text-align: center;
    height: 30px;
    width: 200px;
    margin: auto;
    z-index: 2;
    position: relative;
}

.spec-show-menu-items{
    background-color: white;
    width: 195px;
    height: 30px;
    transform: translateY(-30px);
    margin: auto;

}

.spec-show-menu-items{
    background-color: aqua;
}

.spec-show-menu-items>div{
    text-align:center;
    background-color: aqua;
    position: relative;
    transition: 0.3s linear;

}

.require-beds{
    font-size: 22px;
    text-align: center;
    margin-left: 100px;
    height: 35px;
    width: 35px;
    background-color: aqua;
    border-radius: 50%;
    z-index: 2;
}

.require-menu-items {
    transform: translateX(-35px);
    height: 35px;
    width: 35px;
    background-color: aqua;
    border-radius: 50%;
}

.require-menu-items>div{
    text-align:center;
    background-color: aqua;
    height: 35px;
    width: 35px;
    border-radius: 50%;
    font-size: 10px;
    position: relative;
    transition: 0.3s linear;
}

  
.fa {
    position: relative;
    top:11px;
}

.spec-item2{
    bottom:23px
}

.spec-item3{
    bottom:46px
}

.spec-item4{
    bottom:69px
}

.spec-item5{
    bottom:92px
}

.spec-item6{
    bottom:115px
}
.spec-item7{
    bottom:138px
}


.item2 {
    bottom:35px;
}

.item3 {
    bottom:70px;
}

.item4 {
    bottom:105px;
}
.item5 {
    bottom:140px;
}
#reanimate-beds{
    text-transform: uppercase;
     font-weight: 500;
     letter-spacing: 1.5px;
     font-size: 75%;

}



