html {
    margin: 0px;
    height: 100%;
    width: 100%;
    overflow-x: hidden;
 }
 
 body {
    margin: 0px;
    min-height: 100%;
    width: 100%;
    
    
 }
 

/* lista delle decision */
.div-menu ul{  
    list-style: none;
    margin: 0;
    padding-left: 12px;
    margin-top: 10px;
    
}
.div-menu .decision-menu .decision-toUpdate{
     position: relative;
     padding: 16px;
     width: fit-content;
     height: 90%;
     background-color: rgb(255, 255, 255);
     
     border-top: 1px solid white;
     text-transform: uppercase;
     font-weight: 500;
     letter-spacing: 1.5px;
     font-size: 75%;
     transition: .5s;
     margin-bottom: 8px;
     z-index: 10002;
     
}
.div-menu .decision-menu .decision-toUpdate:hover{
    background-color: aqua;
    transition: linear .5s;
}
.text-inner::before{
    content: "";
    position: absolute;
    bottom: 12px;
    left: 12px;
    height: 12px;
    width: 12px;
    border: 3px solid aqua;
    border-width: 0 0 3px 3px;
    transition: .5s;
    opacity:0;

}
.decision-toUpdate:hover span::before{
    bottom: -8px;
    left: -8px;
    opacity: 1;
}
.text-inner::after{
    content: "";
    position: absolute;
    top: 12px;
    right: 12px;
    width: 12px;
    height: 12px;
    border: 3px solid aqua;
    border-width: 3px 3px 0 0;
    transition: .5s;
    opacity: 0;

}
.decision-toUpdate:hover span::after{
    top: -8px;
    right: -8px;
    opacity: 1;
}

.level-selector{
    position: relative;
     padding: 15px;
     width: 250px;
     background-color: aqua;
     border-top: 1px solid white;
     border-radius: 2%;
}
.showUpmenu{
    transition: all 0.3s ease-in-out;
    opacity: 0;
    visibility: hidden;
    position: absolute;
    left: 100%;
    top: 16%;
}
.decision-toUpdate:hover .showUpmenu{
    opacity: 1;
    visibility: visible;
}
.showUpmenu{
    padding-right: 3px;
   
}
.level-selector{

    display: inline;  
    background-color: white;
    border: 1px solid black;
    margin-right: 5px;

}
input[type="checkbox"]{
    -webkit-appearance: none;
    visibility: hidden;  
    display: none;
}
.check{
    position: relative;
    display: inline-flex;
    width: 40px;
    height: 20px;
    background: aqua;
    cursor: pointer;
    border-radius: 20px;
    overflow: hidden;
    transition: ease-in 0.5s;
    text-align: end;
    margin-right: 5px;
}
.check::before{
    content: '';
    position: absolute;
    top: 2px;
    left: 2px;
    background: #fff;   
    width: 16px;
    height: 16px;
    border-radius: 50%;
    transition: 0.5s;
}
input[type="checkbox"]:checked ~ .check{
    background: white;
    
}
input[type="checkbox"]:checked ~ .check::before{
    transform: translateX(-50px);

}
.check::after{
    content: '';
    position: absolute;
    top: 2px;
    left: 2px;
    background: aqua;   
    width: 16px;
    height: 16px;
    border-radius: 50%;
    transition: 0.5s;
    transform: translateX(50px);
}
input[type="checkbox"]:checked ~ .check::after{
    transform: translateX(0px);

}

.c{
    padding-top: 18px;
    padding-left: 13px;
    
    height: 50px;
    width: 230px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: white;
    transition: ease-in 1s;
}

.ca{
    
    height: 50px;
    width: 230px;
    padding-top: 18px;
    padding-left: 13px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: aqua;
    transition: 0.5s step-end;

}
.ca p{
    font-weight: 700;
    letter-spacing: 2px;
    align-self: center;
}
.switch-display{
    padding-top: 3px;
    text-transform: uppercase;
    font-weight: 500;
    letter-spacing: 1.5px;
    font-size: 75%;
    align-self: center;
    align-content: center;

}
#wrap{
    position: relative;
    width: 450px;
}

#rangeValue{
    position: relative;
    text-align: center;
    display: block;
    font-size: 6em;
    color: rgba(0, 0, 0,.8);
    font-weight: 620;
    z-index: 2;
    margin-bottom: 0px;
    margin-top: 0px;
    padding-top: 20%;

    
    
}
#rangeValue::after{
    content: '%';

}
#fillRangeValue{ 
    position: absolute;
    top: 0;
    left: 0;

    height: 300px;
    background: red;
    z-index: 1;
}
.range{
    position: relative;
    width: 400px;
    height: 15px;
    -webkit-appearance: none;
    outline: none;
    border-radius: 15px ;
    background: rgba(0, 0, 0, .8);
    box-shadow: 0 0 0 2px #000,inset 0 0 5px #000;
    z-index: 2;
    overflow: hidden;
    margin-top: 14%;
    margin-left: 9%;


}
.range::-webkit-slider-thumb{
    -webkit-appearance: none;
    width: 15px;
    height: 15px;
    border-radius: 50%;
    background: red;
    border: 4px solid #222;
    z-index: 2;
    box-shadow: -407px 0 0 400px red;
}
 


.spec-menu{
    width: 260px;
    margin: 0;
}


.reanimate-beds {
    margin-top: 5px;
}

.flex-container{
    margin-top: 10px;
    margin-bottom: 60px;
    display: flex;
    justify-content: baseline;
}


.spec-show-container{
    width: 430px;
}

.spec-showup{
    background-color: aqua;
    text-align: center;
    height: 30px;
    width: 200px;
    margin: auto;
    z-index: 2;
    position: relative;
}

.spec-show-menu-items{
    background-color: aqua;
    width: 195px;
    height: 30px;
    transform: translateY(-30px);
    margin: auto;

}

.spec-show-menu-items>div{
    text-align:center;
    background: linear-gradient(to right,#56ccf2,#2f80ed);
    position: relative;
    transition: 0.3s linear;

}

.require-beds{
    position: relative;
    font-size: 30px;
    text-align: center;
    height: 30px;
    width: 30px;
    background: linear-gradient(to right,#56ccf2,#2f80ed);
    border-radius: 50%;
    z-index: 2;
    transform: translateX(60px);
}

.require-menu-items {
    transform: translateX(30px);
    width: 30px;
    height: 30px;
    background: linear-gradient(to right,#56ccf2,#2f80ed);
    border-radius: 50%;
}

.require-menu-items>div{
    text-align:center;
    background: linear-gradient(to right,#56ccf2,#2f80ed);
    height: 30px;
    width: 30px;
    border-radius: 50%;
    font-size: 12px;
    position: relative;
    transition: 0.3s linear;
}

  
.fa {
    position: relative;
    top:8px;
}


#reanimate-beds{
    text-transform: uppercase;
    font-size: 13.5px;
    font-weight: 440;
    letter-spacing: 0.5px;
   
}

.spec-button{
    bottom:10.5px;
    position: relative;
    color:black;
    height: 32px;
    width: 32px;
}

.spec-item2{
    bottom:23px
}

.spec-item3{
    bottom:46px
}

.spec-item4{
    bottom:69px
}

.spec-item5{
    bottom:92px
}

.spec-item6{
    bottom:115px
}
.spec-item7{
    bottom:138px
}


.item2 {
    bottom:30px;
}

.item3 {
    bottom:62px;
}

.item4 {
    bottom:92px;
}
.item5 {
    bottom:122px;
}


svg{
    position: relative;
    width: 150px;
    height: 150px;
    z-index: 1000;

}
svg circle{
    width: 100%;
    height: 100%;
    fill: none;
    stroke: #191919;
    stroke-width: 10;
    stroke-linecap: round;
    transform: translate(5px,5px);


}

svg circle:nth-child(2){
    stroke-dasharray: 440;
    stroke-dashoffset: 440;

}


.container_counters{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    position: relative;
    
   

}
.container_counters .card{
    position: relative;
    width: 220px;
    background: linear-gradient(0deg,#1b1b1b,#222,#1b1b1b);
    display: flex;
    justify-content:center ;
    align-items: center;
    border-radius: 4px;
    height: 300px;
    text-align: center;
    overflow: hidden;
    transition: .5s;
    padding: 20px;
    


}
.container_counters .card:hover{
    transform: translateY(-10px);
    box-shadow: 0 15px 35 px rgba(0, 0, 0,.5);
}
.container_counters .card::before{
    content: "";
    position: absolute;
    top: 0;
    left: -50%;
    width: 100%;
    height: 100%;
    background: rgba(255,255 ,255 ,.03);
    pointer-events: none;
    z-index: 1;
}
.percent{
    position: relative;
    width: 150px;
    height: 150px;
    border-radius: 50%;
    box-shadow: inset 0 0 50px #000;
    background: #222;
    z-index: 1000;
}
.percent .number{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;

}
.percent .number h2{
    color: #777;
    font-weight: 700;
    font-size: 35px;
    transition: 0.5s;
}
.percent .number h2 span{
    font-size: 24px;
    color: #777;

}
.card:hover .percent .number h2{
    color: #fff;
    font-size: 40px;
}
.card:hover .percent .number h2 span{
    color: #fff;
    transition: 0.5s;

}
.text{
    position: relative;
    color: #777;
    font-weight: 700; 
    font-size: 18px;
    text-transform: uppercase;
    letter-spacing: 1px;
    transition: 0.5s;
    margin-top: 20px;


}
.card:hover .text{
    color: #fff;

}
.card:nth-child(1) svg circle:nth-child(2){
    stroke: rgb(196, 8, 36)
   
}
.card:nth-child(2) svg circle:nth-child(2){
    stroke: rgb(255, 204, 0);
}
.card:nth-child(3) svg circle:nth-child(2){
    stroke:  rgb(13, 234, 13);
}


.container_deaths{
    display:  block;
    background: linear-gradient(0deg,#1b1b1b,#222,#1b1b1b);
    padding: 20px 0; 
    border-radius: 5px;
    width: 270px;
    text-align: center;
    
    margin-top: 15px;
    
}


.fa-3x { margin: 0 auto; float: none; display: table; color:rgba(184, 58, 23, 0.5); 
transition: 0.5s;}

#death_display{

    color: #777;
    font-weight: 500;
    font-size: 18px;
    transition: 0.5s;
    margin-top: 6px;
    margin-bottom: -3px;

}
.container_deaths:hover #death_display{
    color: #fff;
    font-size: 30px;
}
.count_text{
    font-size: 18px; 
    font-weight: 500;  
    margin-top: 1px; 
    margin-bottom: 0; 
    text-align: center;
    text-transform: uppercase;
    color: #777;
    letter-spacing: 1px;
}
.container_deaths:hover .count_text{
    color: #fff;
    
}
.container_deaths:hover .fa-3x {
    color: rgba(235, 12, 12, 0.815);
}

.loans{

    margin-top: 20px;
    margin-bottom: 20px;
    margin-right: 2%;
    border-bottom: 20px solid #03a9f4;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    
}
.loans-list{
    margin: 0;
    padding: 0;
}
.loans .header{
    color: #fff;
    background: #03a9f4;
    padding: 10px 20px;
    font-size: 20px;
    font-weight: 700;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}
.loans ul{
    position: relative;
    background: #fff;
}
.loans ul li{
    list-style: none;
}
.loans ul .active{
    list-style: none;
    padding: 10px;
    width: 100%;
    background: #fff;
    box-shadow: 0 5px 25px rgba(0, 0, 0, .1);
    transition: transform 0.5s;
    font-size: 12px;
    text-transform: uppercase;
}
.loans ul:hover .active{
    opacity: 0.2;
}
.loans ul .active:hover{
    transform: scale(1.1);
    z-index: 100;
    background: #25bcff;
    box-shadow: 0 5px 25px rgba(0, 0, 0,.2);
    color: #fff;
    opacity: 1;
}
.loans ul .active button{
    background: #25bcff;
    color: #fff;
    text-align: center;
    display: inline-block;
    line-height: 20px;
    border-radius: 20%;
    margin-left: 5px;
    font-size: 12px;
    font-weight: 600;
    letter-spacing: 1px;
    transform: translateY(-2px);
}
.loans ul .active:hover button{
    background: #fff;
    color: #25bcff;
}
.loans ul .active button:hover{
    transform: scale(1.1);
}
.title{
    text-align: center;
    margin-bottom: 15px;
    text-transform: uppercase;
    font-weight: 600;
    letter-spacing: 1px;
    font-size: 22px;

}

.buttons_wrap {
    margin: 7px 0 10px 0 ;
    justify-content : space-evenly;
    display: flex;
}
.buttons_wrap button{
    font-size: 17px;
    font-weight: 700;
    color: #777;
    text-transform: uppercase;
    padding: 10px 20px;
    transition: .5s;
    border: 1px solid rgba(0, 0, 0, .1);
    border-radius: 10%;

}
.buttons_wrap button:hover{
    color: #fff;
}


.buttons_wrap button:nth-child(1):hover{
    background: rgb(0, 115, 255);
    box-shadow: 0 0 10px rgb(0, 115, 255),0 0 40px rgb(0, 115, 255), 0 0 80px rgb(0, 115, 255);
    
}
.buttons_wrap button:nth-child(2):hover{
    background: rgb(255, 47, 0);
    box-shadow: 0 0 10px rgb(255, 47, 0),0 0 40px rgb(255, 47, 0), 0 0 80px rgb(255, 47, 0);
    
}

.wrap_beds{
    margin-top: -15px;
    margin-bottom: 57px;
    text-transform: uppercase;
    font-size: 13.5px;
    font-weight: 440;
    letter-spacing: 0px;
    
    
    
}
.wrap_beds .separator{
    height: 4px;
    background: linear-gradient(to right,#56ccf2,#2f80ed);
    width: 20%;
}
#st{
    margin-bottom: 15px;
}
#sb{
    margin-top: 15px;
}
.hospitals-menu{
    margin-bottom: 20px;
}

.hospital_button{
    
    margin-top: 10px;
    padding: 0.2em;
    border-radius: 20px;
    cursor: pointer;
    border: 0;
    letter-spacing: 1px;
    background: linear-gradient(to right,#56ccf2,#2f80ed);
    margin-left: 10%;
    transition: .5s;
}

.hospital_button span{
    
    font-size: 12.5px;
    font-weight: 600;
    text-transform: uppercase;
    z-index: 3;
    display: block;
    color: #fff;
    background-color: #2c2e36;
    border-radius: 17px;
    padding: 0.6em;

}
.hospital_button:hover{
    transform: scale(1.05);
    box-shadow: 0px 2px 12px 0px #2f80ed

}
.show-new-hospitals{
    margin-top: 10px;
    font-size: 13.5px;
    font-weight: 440;
    text-transform: uppercase;
    letter-spacing: 0px;
}


.hospital_button:focus {outline:none}
.buttons_wrap button:focus {outline:none}


.text div{
    margin-top: 3px;
    font-weight: 550;
    font-size: 17px;
    transform: translateY(70%);
}
.wrap_deaths{
    display: flex;
    justify-content: center;
}






#modalContainer {
	background-color:rgba(0, 0, 0, 0.3);
	position:absolute;
  top:0;
	width:100%;
	height:100%;
	left:0px;
	z-index:10000;
	background-image:url(tp.png); /* required by MSIE to prevent actions on lower z-index elements */
}

#alertBox {
	position:relative;
	width:33%;
	min-height:100px;
    max-height:400px;
	margin-top:50px;
	border:1px solid #fff;
	background-color:#fff;
	background-repeat:no-repeat;
    top:30%;
}

#modalContainer > #alertBox {
	position:fixed;
}

#alertBox h1 {
	margin:0;
	font:bold 1em Raleway,arial;
	background-color:#f97352;
	color:#FFF;
	border-bottom:1px solid #f97352;
	padding:10px 0 10px 5px;
}

#alertBox p {
	height:50px;
	padding-left:5px;
  padding-top:30px;
  text-align:center;
  vertical-align:middle;
}

#alertBox #closeBtn {
	display:block;
	position:relative;
	margin:10px auto 10px auto;
	padding:7px;
	border:0 none;
	width:70px;
	text-transform:uppercase;
	text-align:center;
	color:#FFF;
	background-color:#f97352;
	border-radius: 0px;
	text-decoration:none;
  outline:0!important;
}

/* unrelated styles */

#mContainer {
	position:relative;
	width:600px;
	margin:auto;
	padding:5px;
	border-top:2px solid #fff;
	border-bottom:2px solid #fff;
}

h1,h2 {
	margin:0;
	padding:4px;
}

code {
	font-size:1.2em;
	color:#069;
}

#credits {
	position:relative;
	margin:25px auto 0px auto;
	width:350px; 
	font:0.7em verdana;
	border-top:1px solid #000;
	border-bottom:1px solid #000;
	height:90px;
	padding-top:4px;
}

#credits img {
	float:left;
	margin:5px 10px 5px 0px;
	border:1px solid #000000;
	width:80px;
	height:79px;
}

.important {
	background-color:#F5FCC8;
	padding:2px;

}

@media (max-width: 600px) 
{
  #alertBox {
	position:relative;
	width:90%;
  top:30%;
}}